:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #CCCCCC;

    --fonte-padrao:  'Inter'
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;

}

#menu {
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

#principal{
    width: 100%;
    height: 100px;
    background: var(--preto-dnc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA
}

#principal div a {
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

#principal div a:hover{
    color:var(--cinza-hover);
}

#principal button{
    margin-right: 8%;
    background-color: var(--azul-dnc);
    width: 80px;
    height: 39px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;  
}

#principal button:hover{
   background-color: #2c7fec;
   transform: scale(1.1);
   transition-duration: 1s;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}

header h1{
    font-size: 60px;
    font-weight: 800;
    line-height: 97px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}

header h2 {
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;

    font-family: Inter;
    font-size: 40px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;

    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);

    margin-bottom: 140px;

}

.invert{
    background-color: black;
    font-weight: 600;
    padding: 2px 4px 2px 4px;
}

form{
    font-weight: 600;
    color: white;
    font-size: 30px;
    width: 650px;
}

.form-group{
    display: flex;
    flex-direction: column;

    margin-top: 30px;
    margin-bottom: 10px;
}

form input{
    border-radius: 10px;
    border: none;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    
}

form label{
    margin-bottom: 10px;
}

form input::placeholder{
    color: rgba(57, 57, 57, 0.5);
}

.checkbox-itens{
    font-size: 23px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"]{
    transform: scale(2);
}

.checkbox-name{
    margin-bottom: 0;
}

input[type="submit"]{
    background: rgba(12, 112, 242, 0.9);
    height: 56px;
    width: 100%;
    margin-top: 100px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
    }

    input[type="submit"]:hover{
        transform: scale(1.1);
        transition-duration: 0.8s;
    }

    footer{
        width: 100%;
        background-color: var(--azul-dnc);
    }

    footer .linha1{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 70px;
    }

    footer ul{
        list-style: none;
        font-size: 25px;
        font-weight: 600;
        margin: 0px;
        padding: 0px;


    }

    footer nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 330px;
    }

    footer h5{
        text-align: center;
        color: rgba(255, 255, 255, 1);
        font-weight: 800;
        font-size: 25px;
        background-color: rgba(48, 48, 48, 1);
        border-radius: 10px;
        padding: 10px;

    }

    footer ul li{
        text-align: center;
        font-size: 25px;
        font-weight: 600;
        
        margin-bottom: 10px;
    }

    footer ul li a{
        color: white;
        text-decoration: none;
    }

    footer ul li a:hover{
        color: var(--cinza-hover);
    }
    
    footer .endereço{
        font-weight: 800;
        color: rgba(255, 255, 255, 1);
        margin-top: 90px;
    }

    #caracter-especial{
        margin: 0px 8px 0px 8px;
    }

    footer .linha2{
        height: 30px;
        display: flex;
        justify-content: center;
        font-size: 25px;
        font-weight: 600;
        line-height: 30px;
        padding-bottom: 20px;   
    }

    footer .linha2 a:first-child {
        border-right: 3px solid white ;
    }

    footer .linha2 a{
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        padding: 0px 9px 0px 9px;
    }

    footer .linha2 a:hover{
        color: var(--cinza-hover);
    }

    @media only screen and (max-width: 600px) {

        #principal{
            flex-direction: column;
            height: auto;   
        }

        #menu{
            flex-direction: column;  
            width: 100%;
            margin: 0;
        }

        #menu a{
            display: flex;
            align-items: center;
            height: 40px;
            
        }

        #principal button{
            width: 100%;
            margin: 0;
            margin-top: 15px;
        }

        section h1{
            font-size: 38px;
        }

        section h2{
            font-size: 30px;
            padding: 0px 8px 0px 8px;
        }

        form{
            width: 95%;
            font-size: 22px;
        }

        .checkbox-name{
            font-size: 15px
        }

        footer .linha1{
            flex-direction: column;
        }

        footer .endereço{
            height: 50px;
            font-size: 19px;
            text-align: center;
            margin-bottom: 40px;
            padding: 0px 6px 0px 6px;
        } 

        footer .linha2{
            padding-bottom: 20px;
            font-size: 19px;
            align-items: center;
        }
    }